.App {
  max-width: 400px;
  margin: 150px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
input {
  width: 70%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

button {
  width: 30%;
  padding: 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.user-container {
  margin-top: 20px;
}

.user {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.user div {
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  text-align: left;
  padding: 5px;
}

.user div u {
  font-weight: bold;
  text-decoration: underline;
}

.user div br {
  display: none; 
  display: none;
}

.age-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 24px;
  font-size: 14px;
  margin-top: 10px;
  cursor: pointer;
  height: 40px;
  width: 120px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.age-button:hover {
  background-color: #0056b3;
}

.delete-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 24px;
  font-size: 14px;
  margin-top: 10px;
  cursor: pointer;
  height: 40px;
  width: 120px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-button:hover {
  background-color: #0056b3;
}